.Gallery_Page::after {
    content: "";
    clear: both;
    display: table;
  }

.Gallery_Div_Image {
    float: left;
    width: 33.33%;
    padding: 5px;
    background-color: white;
}

.Gallery_Image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}