.Home {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a, a:focus, a:hover {
    color: #fff;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

.cover-container {
    max-width: 48em;
    background: rgba( 64, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.Home-Cover {
    padding: 2rem;
    min-height: calc(100vh - 4.5em);
    background-image: linear-gradient(#06324B, #2D9AD5);
}

.Home-Content {
    padding: 2rem;
}

.Page-Main-Title {
    text-align: center;
    padding: 0 5%;
}

.Page-Main-Title p {
    color: #fff;
    font-size: calc(2.5rem + 1.5vw);
}

.Page-Main-Sub-Title {
    width: 100%;
    max-width: 756px;
    padding: 0 7.5%;
    text-align: center;
    margin: 0 auto;
}

.Page-Main-Sub-Title p {
    color: #fff;
    font-size: calc(1rem + 0.75vw);
}

.Page-Title {
    font-size: calc(1rem + 1vw);
    color: #06324B;
}

.Page-Title p {
    display: inline-block;
    border-width: 0.35rem;
    border-color: #06324B;
    border-style: none none solid none;
}

.Page-Sub-Title {
    color: #000;
}

.Page-Sub-Title p {
    font-size: calc(0.65rem + 0.75vw);
}

.Page-Sub-List-Item {
    margin: 0;
    padding: 0;
    font-size: calc(0.65rem + 0.75vw);
}

.List-Icon {
    display: inline-block;
    font-size: calc(0.65rem + 0.75vw);
    margin-right: 0.5rem;
}

@media (min-width: 756px) {
    .Page-Main-Sub-Title {
        padding: 0;
    }
    .Page-Main-Title {
        padding: 0;
    }
    .Home-Content {
        width: 70%;
        margin: 0 15%;
    }
    .Home-Cover {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Page-Main-Title p {
        font-weight: bold;
    }
}